<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/p1005/style.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title. @WebsiteVersion.Version</title>
</head>
<body>

    <h3>LocalShop</h3>
    <div id="wrapper">
        <section id="middle">

            @RenderBody()


        </section><!-- #middle-->
    </div>


    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

</body>
</html>
