@model GiftService.Models.Payments.PayseraPaymentResponse


<table class="table table-bordered table-condensed table-striped">
    <tr>
        <td class="text-right">@Html.DisplayNameFor(x => Model.OrderId)</td>
        <td>@Model.OrderId</td>
    </tr>
    <tr>
        <td class="text-right">@Html.DisplayNameFor(x => Model.ProjectId)</td>
        <td>@Model.ProjectId</td>
    </tr>
    <tr>
        <td class="text-right">@Html.DisplayNameFor(x => Model.AmountToPay)</td>
        <td>@Model.AmountToPay</td>
    </tr>
    <tr>
        <td class="text-right">@Html.DisplayNameFor(x => Model.CurrencyCode)</td>
        <td>@Model.CurrencyCode</td>
    </tr>
    <tr>
        <td class="text-right">@Html.DisplayNameFor(x => Model.Payment)</td>
        <td>@Model.Payment</td>
    </tr>
    <tr>
        <td class="text-right">@Html.DisplayNameFor(x => Model.PayAmount)</td>
        <td>@Model.PayAmount</td>
    </tr>
    <tr>
        <td class="text-right">@Html.DisplayNameFor(x => Model.PayText)</td>
        <td>@Model.PayText</td>
    </tr>
    <tr>
        <td class="text-right">@Html.DisplayNameFor(x => Model.PayCurrencyCode)</td>
        <td>@Model.PayCurrencyCode</td>
    </tr>
    <tr>
        <td class="text-right">@Html.DisplayNameFor(x => Model.Country)</td>
        <td>@Model.Country</td>
    </tr>
    <tr>
        <td class="text-right">@Html.DisplayNameFor(x => Model.IsTestPayment)</td>
        <td>@Model.IsTestPayment</td>
    </tr>
    <tr>
        <td class="text-right">@Html.DisplayNameFor(x => Model.CustomerEmail)</td>
        <td>@Model.CustomerEmail</td>
    </tr>
    <tr>
        <td class="text-right">@Html.DisplayNameFor(x => Model.CustomerName)</td>
        <td>@Model.CustomerName</td>
    </tr>
    <tr>
        <td class="text-right">@Html.DisplayNameFor(x => Model.CustomerLastName)</td>
        <td>@Model.CustomerLastName</td>
    </tr>
    <tr>
        <td class="text-right">@Html.DisplayNameFor(x => Model.CustomerPhone)</td>
        <td>@Model.CustomerPhone</td>
    </tr>
    <tr>
        <td class="text-right">@Html.DisplayNameFor(x => Model.Remarks)</td>
        <td>@Model.Remarks</td>
    </tr>
    <tr>
        <td class="text-right">@Html.DisplayNameFor(x => Model.Ip)</td>
        <td>@Model.Ip</td>
    </tr>
    <tr>
        <td class="text-right">@Html.DisplayNameFor(x => Model.BrowserAgent)</td>
        <td>@Model.BrowserAgent</td>
    </tr>
    <tr>
        <td class="text-right">@Html.DisplayNameFor(x => Model.File)</td>
        <td>@Model.File</td>
    </tr>
    <tr>
        <td class="text-right">@Html.DisplayNameFor(x => Model.Version)</td>
        <td>@Model.Version</td>
    </tr>
    <tr>
        <td class="text-right">@Html.DisplayNameFor(x => Model.Lang)</td>
        <td>@Model.Lang</td>
    </tr>
    <tr>
        <td class="text-right">@Html.DisplayNameFor(x => Model.m_pay_restored)</td>
        <td>@Model.m_pay_restored</td>
    </tr>
    <tr>
        <td class="text-right">@Html.DisplayNameFor(x => Model.Status)</td>
        <td>@Model.Status</td>
    </tr>
    <tr>
        <td class="text-right">@Html.DisplayNameFor(x => Model.RequestId)</td>
        <td>@Model.RequestId</td>
    </tr>
</table>
