@model IEnumerable<GiftService.Models.TransactionBdo>

@if (Model.Count() > 0)
{
    foreach (var t in Model)
    {
        <tr>
            <td>@t.PosId</td>
            <td>@t.CreatedAt.ToString()</td>
            <td>
                <span class="label label-@(@t.PaymentStatus == GiftService.Models.PaymentStatusIds.PaidOk ? "success" : t.PaymentStatus == GiftService.Models.PaymentStatusIds.UserCancelled ? "danger" : "info")">@t.PaymentStatus</span>
                
            </td>
            <td><a href="#" class="gs-product-info" data-product-uid="@t.ProductUid">Product info</a></td>
            <td nowrap>
                @t.RequestedAmount.ToString("### ##0.00") @t.RequestedCurrencyCode | @t.PaidAmount.ToString("### ##0.00") @t.PaidCurrencyCode
            </td>
            <td>
                @t.PayerName @t.PayerLastName<br />
                @t.PayerEmail<br />
                @t.PayerPhone
            </td>
            <td>@GiftService.Bll.BllFactory.Current.ConfigurationBll.GetPaidThroughSystemName(@t.PaidThrough)</td>
            <td>
                <span class="label label-@(t.IsTestPayment ? "danger" : "success")">@t.IsTestPayment</span>
            </td>
            <td>@t.IsPaymentProcessed</td>
            <td>@(t.PaySystemResponseAt == DateTime.MinValue ? "-" : t.PaySystemResponseAt.ToString())</td>
            <td>
                @Html.Raw(String.IsNullOrEmpty(t.OrderNr) ? "" : String.Concat(t.OrderNr, "<br />"))
                @if (String.IsNullOrEmpty(t.PaySystemUid) == false)
                {
                    @Html.ActionLink(t.PaySystemUid, "Get", "Gift", new { id = t.PaySystemUid }, new { target = "_blank" })
                }else
                {
                    <span>-</span>
                }
            </td>
            <td></td>
        </tr>
    }
                            } else
                            {
    <tr>
        <td colspan="12">
            @if (ViewBag.ErrorMessage != null)
                                        {
                <span class="alert alert-danger">@ViewBag.ErrorMessage</span>
                    }
            else
            {
                @:No transactions
            }
        </td>
    </tr>
}
