@model GiftService.Models.ProductInformationModel

@{
    ViewBag.Title = String.Concat(Model.Pos.Name, " - ", Model.Product.ProductName);
}


@Html.DisplayTempMessage()

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>@Model.Pos.PosUrl.Host</h2>
    </div>
</div>
<div class="row">
    <div id="GiftFinancial" class="col-md-1">
        @*<div>
            Order # @Model.Product.Id
        </div>*@
    </div>
    <div id="GiftInfo" class="col-md-5">
        <p>
            @Resources.Language.Gift_Get_ServiceLabel<br />
            @Html.Raw(Model.Product.ProductName)<br />
            @Html.DisplayOrNotSet(Model.Product.ProductDescription, Resources.Language.Gift_Get_NoDescription)</p>

        <p>
            @Resources.Language.Gift_Get_ProductDurationLabel
            @Html.DisplayOrNotSet(Model.Product.ProductDuration, Resources.Language.Payment_Checkout_DurationNotSet)
        </p>

        <p>@Html.Raw(Model.PosAddress)</p>
        @*<div>Price: @Model.Product.ProductPrice.ToString("N2") @Model.Product.CurrencyCode</div>*@
        
        @if (Model.IsPaidOk)
        {
            <div>
                @Resources.Language.Gift_Get_CouponIsValidTill @Model.Product.ValidTill.ToShortDateString()
            </div>
            <p class="alert alert-danger">@Resources.Language.Gift_Get_YouMustReserve<br />
                @Html.Raw(String.Join("<br />", new string[] { Model.Product.PhoneForReservation, Model.Product.EmailForReservation }))
            </p>
        }

        <p>@Resources.Language.Gift_Get_ThankYouForUsingUs</p>
    </div>
    <div id="GiftActions" class="col-md-3">
        @if (Model.IsPaidOk)
        {
            <div class="btn-group-vertical">
                <button class="btn btn-info">@Resources.Language.Gift_Get_PaidAt
                @Model.PaymentDate.ToShortDateString()</button>
                <button id="BtnDownload" class="btn btn-default">@Resources.Language.Gift_Get_DownloadCoupon</button>
                <button id="BtnPrint" class="btn btn-default">@Resources.Language.Gift_Get_PrintCoupon</button>
                @*<button id="BtnGift" class="btn btn-default">Dovanu cekis</button>*@
            </div>
            @*<div class="panel panel-group">
                <div class="panel-body">

                    <input type="email" placeholder="Enter e-mail" class="input-sm form-control" /><br />
                    <textarea type="email" placeholder="Enter congrats" class="input-lg form-control"></textarea><br />
                    <div class="btn-group">
                        <button class="btn btn-xs btn-primary">E-mail</button>
                        <button class="btn btn-xs btn-primary">Download</button>
                    </div>
                </div>
            </div>*@
        }
        else if (Model.PaymentStatus == GiftService.Models.PaymentStatusIds.AcceptedButNotExecuted)
        {
            <button class="btn btn-warning">
                @Resources.Language.Gift_Get_PaymentIsProcessing
            </button>
        }else
        {
            <button class="btn btn-danger">
                @Resources.Language.Gift_Get_PaymentWasNot
            </button>
        }


    </div>
</div>


@section scripts
{
    <script type="text/javascript">

        $(function () {
            $("#BtnPrint").click(function (e) {
                e.preventDefault();
                window.location.href = "@Url.Action("Print", "Gift", new { id = Model.Product.ProductUid })";
            });
            $("#BtnDownload").click(function (e) {
                e.preventDefault();
                window.location.href = "@Url.Action("Download", "Gift", new { id = Model.Product.ProductUid })";
            });
        });

    </script>    
}
