@model GiftService.Models.ContactUsModel

@{
    ViewBag.Title = Resources.Language.Home_ContactUs_Title;

    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}
<h2>@ViewBag.Title</h2>

@if (Model.IsSent)
{
    <p class="alert alert-success">@Resources.Language.Home_ContactUs_MessageIsSentOk</p>
}
else
{

    using (Html.BeginForm(/*new AjaxOptions { AllowCache = false }*/))
    {

        <table class="table">
            <tr>
                <td></td>
                <td>
                    @Html.ValidationSummary(true)
                </td>
            </tr>
            <tr>
                <td align="right">@Html.LabelFor(x => x.Subject, Resources.Language.Home_ContactUs_Subject)</td>
                <td>
                    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control input-sm" })<br />
                </td>
            </tr>
            <tr>
                <td align="right">@Html.LabelFor(x => x.Name, Resources.Language.Home_ContactUs_Name)</td>
                <td>@Html.TextBoxFor(x => x.Name, new { @class = "form-control input-sm" })</td>
            </tr>
            <tr>
                <td align="right">@Html.LabelFor(x => x.Email, Resources.Language.Home_ContactUs_Email)</td>
                <td>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control input-sm" })<br />
                    @Html.ValidationMessageFor(x => x.Email)
                </td>
            </tr>
            <tr>
                <td align="right">@Html.LabelFor(x => x.SiteUrl, Resources.Language.Home_ContactUs_SiteUrl)</td>
                <td>@Html.TextBoxFor(x => x.SiteUrl, new { @class = "form-control input-sm" })</td>
            </tr>
            <tr>
                <td align="right">@Html.LabelFor(x => x.Text, Resources.Language.Home_ContactUs_Text)</td>
                <td>
                    @Html.TextAreaFor(x => x.Text, new { @class = "form-control" })<br />
                    @Html.ValidationMessageFor(x => x.Text)
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button class="btn btn-primary btn-sm">OK</button></td>
            </tr>
        </table>

    }
}




<address>
    Vida<br />
    +370 612 17534
</address>

<address>
    <strong>@Resources.Language.Home_ContactUs_DoYouNeedHelp</strong>   <a href="mailto:vida@dovanukuponai.com">vida@dovanukuponai.com</a><br />
</address>