@model IEnumerable<GiftService.Models.Logs.LogBdo>

<style>
    #Logs th {
        font-size: smaller;
    }

    #Logs td {
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: x-small;
    }

    .gs-debug {
        color: darkgray;
    }

    .gs-error {
        color: red;
    }

    .gs-warn {
        color: orangered;
    }

    .gs-fatal {
        background-color: red;
    }
</style>

<div class="container">
    @Html.LoaderDiv()
    <button id="BtnParsePs" class="btn btn-sm btn-primary">Parse Paysera data</button>
    <div id="ResponsePopup" style="display: none;">
        <div class="text-right">
            <button id="BtnCloseResponse">x</button>
        </div>
        <div id="ResponseMessage" class="alert"></div>
        <div id="ResponseDiv"></div>
    </div>
    <table id="Logs" class="table table-condensed table-hover table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>Level</th>
            <th>Date</th>
            <th>Thread</th>
            <th>Message</th>
        </tr>

        @foreach (var l in Model)
            {
            <tr>
                <td>@l.Id</td>
                <td>@l.Level</td>
                <td nowrap>@l.CreatedAtServer</td>
                <td>@l.Thread</td>
                <td class="gs-@l.Level.ToLower()">@l.Message</td>
            </tr>
            if (String.IsNullOrEmpty(l.Exception) == false)
            {
                <tr>
                    <td colspan="5">@l.Exception</td>
                </tr>
            }
        }

    </table>
</div>

@section scripts {

    <script type="text/javascript">
        $(function () {
            $("#BtnParsePs").click(function (e) {
                e.preventDefault();
                $("#LoaderDiv").show();
                $("#ResponsePopup").hide();
                if (data = prompt("Input data from PS")) {
                    $.post("@Url.Action("DoParsePs", "TranAdmin")", "data=" + data, function (data) {
                        $("#ResponseDiv").html(data.Response);
                        $("#ResponsePopup").show();
                        $("#ResponseMessage")
                            .removeClass("alert-danger")
                            .removeClass("alert-success")
                            .addClass(data.Status ? "alert-success" : "alert-danger")
                            .html(data.Message);
                        //console.log(data.Response);
                    }).error(function () {
                        alert("Error parsing PS data");
                    }).always(function () {
                        $("#LoaderDiv").hide();
                    });
                }
            });

            $("#BtnCloseResponse").click(function (e) {
                e.preventDefault();
                $("#ResponsePopup").hide();
            })
        });
    </script>

}
